@model Wetube.Client.Models.UserVM

@{
    ViewData["Title"] = "New User";
}

<div class="row">
    <div class="col-md-6">
    
        @using (Html.BeginForm("ConfirmUser", "home"))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <h3>User SignUp</h3>
            </div>
            <br/>
            <div class="row">
                @Html.TextBoxFor(m => m.FirstName, new {@placeholder="First Name", @style="padding-right: 3vw"})
                @Html.ValidationMessageFor(m => m.FirstName, "", new {@style="color:red"})
            </div>
            <br/>
            <div class="row">
                @Html.TextBoxFor(m => m.LastName, new {@placeholder="Last Name", @style="padding-right: 3vw"})
                @Html.ValidationMessageFor(m => m.LastName, "", new {@style="color:red"})
            </div>
            <br/>
            <div class="row">
                @Html.TextBoxFor(m => m.Username, new {@placeholder="Create User Name", @style="padding-right: 3vw"})
                @Html.ValidationMessageFor(m => m.Username, "", new {@style="color:red"})
            </div>
            <br/>
            <div class="row">
                @Html.TextBoxFor(m => m.Password, new {@placeholder="Create Password", @style="padding-right: 3vw"})
                @Html.ValidationMessageFor(m => m.Password, "", new {@style="color:red"})
            </div>
            <br/>
            <div class="row">
                @Html.TextBoxFor(m => m.Email, new {@placeholder="Email", @style="padding-right: 3vw"})
                @Html.ValidationMessageFor(m => m.Email, "", new {@style="color:red"})
            </div>
            <br/>
            
            <input type="Submit" value="Next" style="padding-right: 4vw; padding-left: 4vw; margin-left: 0%"/>
        }
    </div>
    <div class="col-md-6">
        
    </div>
</div>